.app {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  text-align: center;
  width: 80svw;
  margin: 2rem auto;
  border-radius: 20px;
}

main {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 300px;
  display: block;
  margin: 0 auto;
}

section {
  margin: 20px;
  padding: var(--padding);
  background: var(--background-color);
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.horizontal-line {
  height: 3px;
  width: 90%;
  border: 0;
}

.horizontal-line::before {
  content: "";
  display: block;
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #000000,
    rgba(0, 0, 0, 0)
  );
}

.vertical-line {
  min-width: 3px;
  height: stretch;
  border: 0;
}

.vertical-line::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    #0000001f,
    rgba(0, 0, 0, 0)
  );
}
